.App {
  text-align: center;
}

.controls {
  margin: 20px;
}

.controls label {
  display: block;
  margin: 10px 0;
}

.btn{
  margin-top: 1vh;
  padding: 6px;
  width: 8vw;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 3px grey;
  background-color: #149cf7;
}
